// bower:scss
// endbower

* {
	font-family: "mic-32-new-rounded-web",sans-serif;
}

html, body {
	margin : 0;
	padding: 0;
}

body {
}

h1, p {
	margin: 0;
}

a {
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	&:active {
		top: 1px;
	}
	&:hover {
		-webkit-opacity: 0.8;
		-moz-opacity: 0.8;
		opacity: 0.8;
	}
}

#wrap {
}

.browserupgrade {
	text-align: center;
	padding: 8px 0;
	position: fixed; top: 85px; left: 0; right: 0;
	background-color: #e9ecef;
	color: #868e96; font-weight: 300; font-size: 12px; line-height: 16px;
	a {
		color: #495057;
		font-weight: 600;
		text-decoration: underline;
	}
	strong {
		font-weight: 400;
	}
}

#nav {
	position: fixed; top: 0; left: 0; right: 0; z-index: 5;
	text-align: center;
	font-size: 0;
	line-height: 0;
	background: rgba(255,255,255,0.95);
	border-bottom: 1px solid rgba(0,0,0,0.05);
	a {
		width: 80px;
		padding: 15px 0 10px 0;
		display: inline-block;
		color: #adb5bd;
		line-height: 32px;
		position: relative;
		vertical-align: top;
		&:after {
			content: "";
			display: block;
			width: 46px; height: 1px;
			background-color: #495057;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			border-radius: 1px;
			position: absolute; bottom: -1px; left: 50%;
			margin-left: -23px;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}
		&.active {
			color: #343a40;
			&:after {
				-webkit-opacity: 0.5;
				-moz-opacity: 0.5;
				opacity: 0.5;
			}
		}
	}
	i {
		font-size: 24px;
		display: block;
	}
	span {
		font-size: 11px; font-weight: 600;
	}
}

.section {
	padding-top: 100px;
	.section-header {
		padding-top: 50px;
		margin-bottom: 100px;
		.section-icon {
			width: 200px; height: 200px; display: block;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			position: relative; z-index: 2;
			margin: 0 auto;
			margin-bottom: 40px;
			overflow: hidden;
			color: #dee2e6; font-size: 172px; line-height: 200px; text-align: center;
			-webkit-animation: blink 1s infinite;
			-moz-animation: blink 1s infinite;
			animation: blink 1s infinite;
			-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
			img {
				// position: absolute; top: -107px; left: -204px; z-index: 1;
				display: none;
			}
			figure {
				width: 200px; height: 200px; display: block; margin: 0;
				position: relative; z-index: 2;
				background-color: #343a40;
			}
			figure i.fa {
				width: 200px; height: 200px; display: block;
				position: absolute; top: 0;
				font-size: 50px; line-height: 200px; text-align: center;
				color: #fff;
				cursor: pointer;
			}
			.fa-play {
				left: 5px;
				z-index: 4;
				-webkit-opacity: 1;
				-moz-opacity: 1;
				opacity: 1;
			}
			.fa-close {
				left: 0;
				z-index: 3;
				-webkit-opacity: 0;
				-moz-opacity: 0;
				opacity: 0;
				-webkit-transform: scale(0);
				-moz-transform: scale(0);
				transform: scale(0);
			}
			i.dimmed {
				width: 200px; height: 200px; display: block;
				position: absolute; top: 0; left: 0; z-index: 2;
				background-color: #212529;
				-webkit-opacity: 0.5;
				-moz-opacity: 0.5;
				opacity: 0.5;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;
			}
			&:hover {
				-webkit-animation-play-state: paused;
				-moz-animation-play-state: paused;
				animation-play-state: paused;
			}
			@-webkit-keyframes blink {
				0% {
					/* opacity: 1.0; */
					-webkit-transform: scale(1.0);
					-moz-transform: scale(1.0);
					transform: scale(1.0);
				}
				50% {
					/* opacity: 0.75; */
					-webkit-transform: scale(1.02);
					-moz-transform: scale(1.02);
					transform: scale(1.02);
				}
				100% {
					/* opacity: 1.0; */
					-webkit-transform: scale(1.0);
					-moz-transform: scale(1.0);
					transform: scale(1.0);
				}
			}
			@-o-keyframes blink {
				0% {
					/* opacity: 1.0; */
					-webkit-transform: scale(1.0);
					-moz-transform: scale(1.0);
					transform: scale(1.0);
				}
				50% {
					/* opacity: 0.75; */
					-webkit-transform: scale(1.02);
					-moz-transform: scale(1.02);
					transform: scale(1.02);
				}
				100% {
					/* opacity: 1.0; */
					-webkit-transform: scale(1.0);
					-moz-transform: scale(1.0);
					transform: scale(1.0);
				}
			}
			@-moz-keyframes blink {
				0% {
					/* opacity: 1.0; */
					-webkit-transform: scale(1.0);
					-moz-transform: scale(1.0);
					transform: scale(1.0);
				}
				50% {
					/* opacity: 0.75; */
					-webkit-transform: scale(1.02);
					-moz-transform: scale(1.02);
					transform: scale(1.02);
				}
				100% {
					/* opacity: 1.0; */
					-webkit-transform: scale(1.0);
					-moz-transform: scale(1.0);
					transform: scale(1.0);
				}
			}
			@keyframes blink {
				0% {
					/* opacity: 1.0; */
					-webkit-transform: scale(1.0);
					-moz-transform: scale(1.0);
					transform: scale(1.0);
				}
				50% {
					/* opacity: 0.75; */
					-webkit-transform: scale(1.02);
					-moz-transform: scale(1.02);
					transform: scale(1.02);
				}
				100% {
					/* opacity: 1.0; */
					-webkit-transform: scale(1.0);
					-moz-transform: scale(1.0);
					transform: scale(1.0);
				}
			}
		}
		.pieces {
			width: 200px; height: 200px; display: block;
			margin: 0 auto; padding: 0;
			margin-top: -240px; margin-bottom: 40px; position: relative; z-index: 1;
			li {
				width: 100px; height: 100px; display: block;
				background-color: #868e96;
				position: absolute; top: 50%; left: 50%; overflow: hidden;
				margin-left: -50px; margin-top: -50px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				-webkit-transform: translate(0,0);
				-moz-transform: translate(0,0);
				transform: translate(0,0);
				-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
				-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
				box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
				a {
					width: 100px; height: 100px; display: block; position: relative; overflow: hidden;
					&:hover {
						-webkit-transform: scale(1.5);
						-moz-transform: scale(1.5);
						transform: scale(1.5);
					}
				}
				img {
					-webkit-transform: scale(0,0);
					-moz-transform: scale(0,0);
					transform: scale(0,0);
					-webkit-opacity: 0;
					-moz-opacity: 0;
					opacity: 0;
					-webkit-border-radius: 50px;
					-moz-border-radius: 50px;
					border-radius: 50px;
				}
			}
		}
		.title {
			color: #343a40; font-family: Bungee; font-weight: 400; font-size: 46px; line-height: 50px;
			text-align: center; word-wrap: break-word; word-break: keep-all;
		}
		.subtitle {
			color: #868e96; font-weight: 700; font-size: 16px; line-height: 24px;
			text-align: center;
		}
	}
	&#profile .section-header {
		padding-top: 75px;
	}
	.section-body {
		position: relative;
	}
}

.section-column {
	margin: 0 auto;
	margin-bottom: 45px;
	ul {
		margin: 0; padding: 0;
		font-size: 0; line-height: 0;
	}
	li {
		width: 50%; display: inline-block;
		position: relative;
		margin: 0; padding: 0; list-style: none;
		vertical-align: top;
		p {
			margin: 0; padding: 7px 55px 10px 0;
			color: #868e96; font-size: 12px; line-height: 18px; text-align: right;
			word-wrap: break-word; word-break: keep-all;
		}
		i {
			width: 20px; display: block;
			position: absolute; top: 8px; left: auto; right: 20px;
			color: #495057; font-size: 18px; line-height: 18px; text-align: center;
		}
		&:nth-child(even) {
			p {
				padding: 7px 0 10px 55px;
				text-align: left;
			}
			i {
				left: 20px; right: auto;
			}
		}
	}
}

#technic .section-body {
	text-align: center; font-size: 0; line-height: 0;
}
.section-gauge {
	width: 320px; margin: 0 auto; margin-bottom: 40px;
	display: inline-block; vertical-align: top;
	h3 {
		margin: 0; margin-bottom: 5px; padding: 5px 0; text-align: center;
		color: #495057; font-weight: 700; font-size: 16px; line-height: 18px;
	}
	ul {
		margin: 0; padding: 0;
		font-size: 0; line-height: 0;
	}
	li {
		margin: 0; padding: 5px 50% 5px 0;
		color: #868e96; font-size: 12px; line-height: 18px;
		position: relative;
		list-style: none; text-align: right;
		p {
			margin: 0;
			word-wrap: break-word; word-break: keep-all;
		}
		small {
			margin-left: 5px; color: #adb5bd; font-size: 10px; line-height: 16px;
		}
		i.fa {
			width: 20px; display: block;
			position: absolute; top: 5px; right: 10%; margin-left: -30px;
			color: #adb5bd; font-size: 12px; line-height: 18px; text-align: center;
		}
		i.gauge {
			width: 25%; height: 8px; display: block;
			position: absolute; top: 10px; left: 50%; margin-left: 20px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color: #fff;
			-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
			-moz-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
			box-shadow: inset 0 0 1px rgba(0,0,0,.3);
			overflow: hidden;
			i.bar {
				height: 8px; display: block;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				background-color: #adb5bd;
			}
		}
	}
}

.section-timeline {
	margin: 0 auto; margin-bottom: 100px;
	position: relative;
	ul {
		margin: 0; padding: 0;
		position: relative; z-index: 2;
		font-size: 0; line-height: 0;
		li {
			margin-bottom: 30px; padding-left: 50%;
			color: #adb5bd; font-size: 12px; line-height: 18px;
			position: relative;
			list-style: none;
			i.bullet {
				width: 9px; height: 9px; display: block;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				position: absolute; top: 3px; left: 50%; margin-left: -4.5px;
				background-color: #495057;
			}
			.item {
				padding-left: 20px;
			}
			.period {
				margin-bottom: 5px;
				color: #868e96; font-weight: 600;
			}
			h3.job {
				margin: 0;
				color: #495057; font-weight: 700; font-size: 16px; text-transform: uppercase;
			}
			.company {
				font-weight: 400;
			}
			.spot {
				display: block;
				color: #ced4da; font-weight: 300; font-size: 12px;
			}
			&:nth-child(even) {
				padding-left: 0; padding-right: 50%;
				text-align: right;
				.item {
					padding-right: 20px;
				}
			}
		}
	}
	i.line {
		width: 1px; display: block;
		position: absolute; top: 3px; right: auto; bottom: -50px; left: 50%; z-index: 1;
		margin-left: -0.5px;
		background-color: #ced4da;
		i.bullet {
			width: 9px; height: 9px; display: block;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			position: absolute; bottom: -5px; left: 50%;
			margin-left: -4.5px;
			background-color: #495057;
		}
	}
}

.section-grid {
	margin: 0 auto; margin-bottom: 150px;
	ul {
		margin: 0; padding: 0;
		font-size: 0; line-height: 0; list-style: none;
		text-align: center;
		li {
			width: 150px; height: 190px; margin: 0 20px; margin-bottom: 30px; padding: 0;
			display: inline-block; overflow: hidden;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			vertical-align: top;
			-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.35);
			-moz-box-shadow: inset 0 0 1px rgba(0,0,0,.35);
			box-shadow: inset 0 0 1px rgba(0,0,0,.35);
			background-color: #fff;
			a {
				height: 190px; display: block; position: relative;
				color: #868e96; line-height: 18px;
			}
			.thumb {
				width: 150px; height: 100px; overflow: hidden;
				margin: 0; margin-bottom: 15px; display: block;
				img {
					width: 100%;
				}
			}
			h3.project {
				margin: 0 10px;
				color: #495057; font-weight: 700; font-size: 16px;
				overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;
			}
			.desc {
				margin: 0 10px; display: block;
				color: #868e96; font-size: 12px; text-align: left;
				overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;
			}
			.period {
				position: absolute; bottom: 10px; left: 10px; right: 10px;
				display: block;
				color: #adb5bd; font-size: 10px; text-align: left;
			}
			.rating {
				position: absolute; bottom: 10px; left: 10px; right: 10px;
				display: block; font-size: 10px; text-align: right;
			}
			&:nth-child(even) {
				// margin-right: 0;
			}
		}
	}
}

#footer	{
	padding: 10px 0;
	position: fixed; bottom: 0; left: 0; right: 0; z-index: 5;
	background: rgba(247,249,250,0.95);
	border-top: 1px solid rgba(0,0,0,0.05);
}

#sns {
	margin-bottom: 10px; display: block;
	font-size: 0; line-height: 0; text-align: center;
	a {
		display: inline-block;
		vertical-align: middle;
		i {
			width: 40px; height: 18px;
			color: #adb5bd; font-size: 16px; line-height: 18px; text-align: center;
		}
		span {
			display: none;
		}
		&:hover {
			i {
				color: #343a40;
			}
		}
	}
}
#copyrights {
	color: #adb5bd; font-size: 10px; line-height: 18px; text-align: center;
}


#nav, .section-icon, .pieces li, .title, .subtitle, .section-body, #footer {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}

/* @media screen and (max-width: 320px) {
	body {
		zoom: 0.84;
	}
}
@media screen and (min-width: 401px) and (max-width: 500px) {
	body {
		zoom: 0.84;
	}

}
@media screen and (min-width: 801px) {

} */